[Desktop Entry]
Version=1.0
Exec=/home/_user_/Radio_Playlist/menu.py
Icon=/home/_user_/Radio_Playlist/.icon.svg
Path=/home/_user_/Radio_Playlist/
Name=Radio Playlist
GenericName=Get Playlist
Comment=Get Playlist from radio statin websites
Terminal=true
Type=Application

